@charset "UTF-8";
@font-face {
  font-family: "DMSans-Bold";
  src: url("../fonts/DMSanst-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Regular";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, p {
  font-family: DMSans-Regular;
  color: white;
}

h2 {
  font-size: 4.5714em;
}

h3 {
  font-size: 1.5714em;
}

h4 {
  font-size: 1.4286em;
}

html {
  font-size: 14px;
}
html body {
  margin: auto;
  background-color: #191919;
}
html body header {
  display: flex;
  margin: 1.8571em 0;
  padding: 1.2357em 3.6129em;
  justify-content: space-between;
  align-items: center;
}
html body header .menu__header {
  width: 28.7857em;
  padding: 1.4285em;
  justify-content: space-between;
  display: flex;
}
html body header img {
  width: 11.3671em;
  height: 2.33em;
}
html body header a {
  color: white;
  font-family: DMSans-Regular;
  text-decoration: none;
  font-size: 1.2em;
}
html body header a:hover {
  animation: ch-color-1 0.2s forwards;
}
@keyframes ch-color-1 {
  from {
    color: rgb(255, 255, 255);
  }
  to {
    color: #118DA8;
  }
}
html body header .menu__mobile {
  display: none;
}
html body header .burger-checkbox {
  position: absolute;
  visibility: hidden;
}
html body header .burger {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
html body header .burger::before,
html body header .burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}
html body header .burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
html body header .burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
html body header .burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
html body header .burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
html body header .menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: rgba(26, 27, 32, 0.3254901961);
  backdrop-filter: blur(10px); /* эффект размытия */
  -webkit-backdrop-filter: blur(10px); /* для поддержки Safari */
  list-style-type: none;
  transform: translateY(-100%);
  width: 102em;
  z-index: 1;
  opacity: 1;
  transition: 0.8s;
}
html body header .menu-item {
  display: block;
  padding: 0.5em;
  color: white;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
}
html body header .menu-item:hover {
  background: #1A1B20;
}
html body header .burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}
html body main {
  margin: 2.8517em 5em 0 5em;
}
html body main .promo {
  display: flex;
}
html body main .promo .promo__img {
  width: 46.4285em;
  height: 62.3571em;
  border-radius: 0.8em;
}
html body main .promo .slogan {
  margin: 19.8571em 0 0 4.3571em;
}
html body main .promo .slogan h1 {
  font-size: 5.3571em;
  position: relative;
}
html body main .promo .slogan .line {
  display: block;
  margin: 1em 0;
  position: absolute;
}
html body main .promo .slogan .icons {
  margin: 6.4285em 0 0 5.8571em;
}
html body main .promo .slogan p {
  font-size: 1.0714em;
  margin-bottom: 1.1428em;
}
html body main .promo .slogan .icons__img {
  display: flex;
  justify-content: space-between;
  width: 17.5em;
}
html body main .menu {
  margin: 6.6429em 0 0 0;
}
html body main .menu .heading__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2.8571em 0;
}
html body main .menu button {
  width: 12.7142em;
  height: 3.6428em;
  border-radius: 0.4285em;
  background-color: #118DA8;
  font-size: 1.2143em;
  color: white;
}
html body main .menu .menu__1 {
  background-color: black;
  display: flex;
  padding: 2.8571em;
  margin: 0 0 4.2857em 0;
  border-radius: 2.2857em;
}
html body main .menu .text__menu {
  margin: 0 0 0 3.7857em;
  width: 50.5em;
}
html body main .menu .text__menu h4 {
  background-color: #191919;
  padding: 0 0.8em;
  border-radius: 0.4285em;
  display: inline-block;
}
html body main .menu .text__menu p {
  margin: 3.4678em 0 0 0;
  color: #118DA8;
}
html body main .menu .text__menu h3 {
  margin: 3em 0 0 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5714em;
}
html body main .menu .text__menu button {
  margin: 2.2857em 0 0 0;
  width: 14.8571em;
  height: 3.6428em;
}
html body main .person {
  margin: 11.4286em 0 7.14em 0;
  position: relative;
}
html body main .person .feedback {
  display: flex;
  justify-content: space-between;
  margin: 0 0 7.1429em 0;
}
html body main .person .text__person {
  margin: 0 6.7143em 0 0;
}
html body main .person .arrow {
  width: 7.7143em;
  margin: 2em 0 0 0;
}
html body main .person .round {
  width: 8em;
  height: 8em;
  background-color: #118DA8;
  border-radius: 50%;
  margin: -6.69em 0 1.4286em 0;
}
html body main .person .text__h3 {
  margin: 2em 0 3.3571em 0;
}
html body main .person h3 {
  color: rgba(255, 255, 255, 0.7);
}
html body main .person h4 {
  color: #118DA8;
}
html body main .person .shape {
  margin: 7.1429em 3.5714em;
  padding: 4.2143em 4.2857em 5.3657em 4.2857em;
  background-color: black;
  display: flex;
  justify-content: space-between;
  border-radius: 2.2857em;
}
html body main .person .text__shape {
  width: 30.7857em;
}
html body main .person .text__shape p {
  font-size: 5.1429em;
}
html body main .person form {
  display: flex;
  flex-direction: column;
}
html body main .person form input {
  width: 37.29em;
  height: 5.86em;
  border-radius: 0.43em;
  font-size: 1.7142em;
  padding: 1.86em 1.36em;
  background-color: #191919;
  margin-bottom: 1.4285em;
  border: none;
}
html body main .person form button {
  width: 6.2142em;
  height: 2em;
  border-radius: 0.43em;
  background-color: #118DA8;
  color: rgba(254, 254, 254, 0.7);
  font-size: 1.07em;
}
html body main .person .line__shape {
  margin-top: -11em;
  position: absolute;
  width: 10.5em;
  height: 6.5em;
}
html body main .estimation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 7.14em 0;
}
html body main .estimation .estimation__1 {
  padding: 3.86em 4.29em 3.64em 3.57em;
  background-color: black;
  border-radius: 2.29em;
  margin: 0 1.14em 1.14em 0;
}
html body main .estimation .estimation__1 p {
  font-size: 2.57em;
  margin: 1.5em 0;
}
html body footer {
  padding: 7.1428em 5em;
  display: flex;
}
html body footer .logo__footer {
  width: 31.9385em;
  height: 14.8571em;
}
html body footer .logo__footer .logo__2 {
  width: 15.9157em;
  height: 3.2478em;
  margin: 0 0 1.4571em 0;
}
html body footer .logo__footer .icons img {
  margin-right: 0.7142em;
}
html body footer .menu__footer, html body footer .menu2__footer {
  display: flex;
  flex-direction: column;
  width: 12.7742em;
  height: 15.8571em;
}
html body footer a {
  font-family: DMSans-Regular;
  font-size: 1.2142em;
  text-decoration: none;
  color: white;
  margin-bottom: 0.7142em;
}
html body footer .icons__img {
  display: flex;
  justify-content: space-between;
  width: 17.5em;
}

@media (min-width: 1440px) {
  html body {
    width: 1440px;
  }
}
@media (max-width: 1198px) {
  html {
    font-size: 12px;
  }
  html body main .promo .promo__img {
    width: 40.4285em;
    height: 50.3571em;
  }
  html body main .promo .slogan {
    margin: 10.8571em 0 0 4.3571em;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 11px;
  }
  html body main .promo .promo__img {
    width: 40.4285em;
    height: 50.3571em;
  }
  html body main .promo .slogan {
    margin: 15em 0 0 3.3571em;
  }
  html body main .promo .slogan .sligan__line .line {
    margin: -0.2em 1.8em;
    width: 125px;
  }
  html body main .person form button {
    width: 8.2142em;
    height: 3em;
    border-radius: 0.3em;
    background-color: #118DA8;
    color: rgba(254, 254, 254, 0.7);
    font-size: 1.07em;
  }
  html body footer {
    justify-content: space-evenly;
  }
  html body footer .menu__footer, html body footer .menu2__footer, html body footer .icons__img {
    margin: 0 5em;
  }
}
@media (max-width: 970px) {
  html {
    font-size: 9.5px;
  }
  html body main .promo .slogan {
    margin: 8em 0 0 3.3571em;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
  html body main .promo .promo__img {
    width: 38.4285em;
    height: 47.3571em;
  }
  html body main .promo .slogan {
    margin: 3em 0 0 3.3571em;
  }
}
@media (max-width: 690px) {
  html {
    font-size: 9px;
  }
  html body main .promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  html body main .promo .promo__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  html body main .promo .slogan {
    margin: 1em 0 0 0;
  }
  html body main .promo .slogan .icons {
    margin: 1em 0 0 0;
  }
  html body main .promo .slogan .icons p {
    font-size: 1.5em;
  }
}
@media (max-width: 498px) {
  html {
    font-size: 7px;
  }
  html body .header .menu__header {
    display: none;
  }
  html body .header .menu__mobile {
    display: block;
  }
}
@media (max-width: 387px) {
  html {
    font-size: 5.5px;
  }
}

/*# sourceMappingURL=style.css.map */
