// Шрифты

//Montserrat
@font-face {
    font-family: "DMSans-Bold";
    src: url('../fonts/DMSanst-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DMSans-Regular";
    src: url('../fonts/DMSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, p{
    font-family: DMSans-Regular;
    color: white;
}

h2{
    font-size: 4.5714rem;
}

h3{
    font-size: 1.5714rem;
}

h4{
    font-size: 1.4286rem;
}

html{
    font-size: 14px;

    body{
        margin: auto;
        width: 1440px;
        background-color: #191919;
    
        header{
            display: flex;
            margin: 1.8571em 0;
            padding: 1.2357em 3.6129em;
            justify-content: space-between;
            align-items: center;
    
            .menu__header{
                width: 28.7857em;
                padding: 1.4285em;
                justify-content: space-between;
                display: flex;
            }
            
            img{
                width: 11.3671em;
                height: 2.33em;
            }
    
            a{
                color: white;
                font-family: DMSans-Regular;
                text-decoration: none;
                font-size: 1.2em;
            }
    
            a:hover {
                animation: ch-color-1 0.2s forwards;
              }
              
              @keyframes ch-color-1 {
                from {
                  color: rgb(255, 255, 255);
                }
                to {
                  color: #118DA8;
                }
              }

            .menu__mobile {
                display: none;
            }
        
            .burger-checkbox {
                position: absolute;
                visibility: hidden;
            }
            .burger {
                position: relative;
                z-index: 2;
                cursor: pointer;
                display: block;
                border: none;
                background: transparent;
                width: 40px;
                height: 26px;
            }
            .burger::before,
            .burger::after {
                content: '';
                left: 0;
                position: absolute;
                display: block;
                width: 100%;
                height: 4px;
                border-radius: 10px;
                background: #ffffff;
            }
            .burger::before {
                top: 0;
                box-shadow: 0 11px 0 #ffffff;
                transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
            }
            .burger::after {
                bottom: 0;
                transition: bottom .3s .15s, transform .3s;
            }
            .burger-checkbox:checked + .burger::before {
                top: 11px;
                transform: rotate(45deg);
                box-shadow: 0 6px 0 #ffffff00;
                transition: box-shadow .15s, top .3s, transform .3s .15s;
            }
            .burger-checkbox:checked + .burger::after {
                bottom: 11px;
                transform: rotate(-45deg);
                transition: bottom .3s, transform .3s .15s;
            }
            .menu-list {
                top: 0;
                left: 0;
                position: absolute;
                display: grid;
                gap: 12px;
                padding: 42px 0;
                margin: 0;
                background: #1a1b2053;
                backdrop-filter: blur(10px); /* эффект размытия */
                -webkit-backdrop-filter: blur(10px); /* для поддержки Safari */
                list-style-type: none;
                transform: translateY(-100%);
                width: 102rem;
                z-index: 1;
                opacity: 1;
                transition: .8s;
            }
            .menu-item {
                display: block;
                padding: 0.5rem;
                color: white;
                font-size: 1.2rem;
                text-align: center;
                text-decoration: none;
            }
            
            .menu-item:hover {
                background: #1A1B20;
            }
    
            .burger-checkbox:checked ~ .menu-list {
                transform: translateX(0);
            }
    
        }
    
        main{
            margin: 2.8517rem 5rem 0 5rem;
            
            .promo{
                display: flex;
    
                .promo__img{
                    width: 46.4285rem;
                    height: 62.3571rem;
                    border-radius: 0.8rem;
                }
    
                .slogan{
                        
                    h1{
                        margin: 23.8571rem 0 0 4.3571rem;
                        font-size: 5.3571rem;
                        position: relative;

                    }
                    
                    .line{
                        display: block;
                        margin: 1em 0;
                        position: absolute;
                    }
    
                    .icons{
                        margin: 6.4285rem 0 0 5.8571rem;
                    }
                    
                    p{
                        font-size: 1.0714rem;
                        margin-bottom: 1.1428rem;
                    }
    
                    .icons__img{
                        display: flex;
                        justify-content: space-between;
                        width: 17.5rem;
                    }
                }
            }
    
            .menu{
                margin: 6.6429rem 0 0 0;
    
                .heading__menu{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 0 2.8571rem 0;
                }
                
                button{
                    width: 12.7142rem;
                    height: 3.6428rem;
                    border-radius: 0.4285rem;
                    background-color: #118DA8;
                    font-size: 1.2143rem;
                    color: white;
                }
    
                .menu__1{
                    background-color: black;
                    display: flex;
                    padding: 2.8571rem;
                    margin: 0 0 4.2857rem 0;
                    border-radius: 2.2857rem;
                }
    
                .text__menu{
                    margin: 0 0 0 3.7857rem;
                    width: 50.5rem;
    
                    h4{
                        background-color: #191919;
                        padding: 0 0.8rem;
                        border-radius: 0.4285rem;
                        display: inline-block;
                    }
    
                    p{
                        margin: 3.4678rem 0 0 0;
                        color: #118DA8;
                    }
    
                    h3{
                        margin: 3rem 0 0 0;
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 1.5714rem;
                    }
    
                    button{
                        margin: 2.2857rem 0 0 0;
                        width: 14.8571rem;
                        height: 3.6428rem;
                    }
                }
    
            }
    
            .person{
                margin: 11.4286rem 0 7.14rem 0;
                position: relative;
    
                .feedback{
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0 7.1429rem 0;
                }
    
                .text__person{
                    margin: 0 6.7143rem 0 0;
                }
    
                .arrow{
                    width: 7.7143rem;
                    margin: 2rem 0 0 0;
                }
    
                .round{
                    width: 8rem;
                    height: 8rem;
                    background-color: #118DA8;
                    border-radius: 50%;
                    margin: -6.69rem 0 1.4286rem 0;
                }
    
                .text__h3{
                    margin: 2rem 0 3.3571rem 0;
                }
                
                h3{
                    color: rgba(255, 255, 255, 0.700);
                }
    
                h4{
                    color: #118DA8;
                }
    
                .shape{
                    margin: 7.1429rem 3.5714rem;
                    padding: 4.2143rem 4.2857rem 5.3657rem 4.2857rem;
                    background-color: black;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 2.2857rem;
                }
                
                .text__shape{
                    width: 30.7857rem;
    
                    p{
                        font-size: 5.1429rem;
                    }
                }
    
                form{
                    display: flex;
                    flex-direction: column;
    
                    input{
                        width: 37.29rem;
                        height: 5.86rem;
                        border-radius: 0.43rem;
                        font-size: 1.7142rem;
                        padding: 1.86rem 1.36rem;
                        background-color: #191919;
                        margin-bottom: 1.4285rem;
                        border: none;
    
                    }
    
                    button{
                        width: 6.2142rem;
                        height: 2rem;
                        border-radius: 0.43rem;
                        background-color: #118DA8;
                        color: rgba(254, 254, 254, 0.700);
                        font-size: 1.07rem;
                    }
                }
    
                .line__shape{
                    margin-top: -11rem;
                    position: absolute;
                    width: 10.5rem;
                    height: 6.5rem;
                }
            }
    
            .estimation{
                display: grid;
                grid-template-columns: 31.1rem 31.1rem 31.1rem;
                grid-template-rows: 22.93rem 22.93rem;
                margin: 7.14rem 0;
    
                .estimation__1{
                    padding: 3.86rem 4.29rem 3.64rem 3.57rem;
                    background-color: black;
                    border-radius: 2.29rem;
                    margin: 0 1.14rem 1.14rem 0;
    
                    p{
                        font-size: 2.57rem;
                        margin: 1.5rem 0;
                    }
    
                }
            }
        }
    
        footer{
            padding: 7.1428rem 5rem;
            display: flex;
    
            .logo__footer{
                width: 31.9385rem;
                height: 14.8571rem;
                
                .logo__2{
                    width: 15.9157rem;
                    height: 3.2478rem;
                    margin: 0 0 1.4571rem 0;
                }
    
                .icons {
                    img{
                        margin-right: 0.7142rem;
                    }
                }
            }
            
            .menu__footer, .menu2__footer{
                display: flex;
                flex-direction: column;
                width: 12.7742rem;
                height: 15.8571rem;
    
            }
    
            a{
                font-family: DMSans-Regular;
                font-size: 1.2142rem;
                text-decoration: none;
                color: white;
                margin-bottom: 0.7142rem;
            }
    
            .icons__img{
                display: flex;
                justify-content: space-between;
                width: 17.5rem;
            }
        }
    
    }
}

// @media (max-width: 1280px){
    
//     html{
//         font-size: 13px;
//     }
// }

@media (max-width: 1024px){
    html{
        font-size: 12px;

        body{

            main{  
    
                .promo{
        
                    .slogan{
    
                        .sligan__line{
    
                            .line{
                                margin: -0.2em 1.8em;
                                width: 125px;
                            }
                        }
                        
                    }
                }
    
                .estimation{
                    grid-template-columns: 37.1rem 37.1rem 37.1rem;
                    grid-template-rows: 25.93rem 25.93rem;
        
                    .estimation__1{
                        margin: 0 1.14rem 1.14rem 0;
                    }
                }
            }
    
        }
    }

      
}

@media (max-width: 768px){
    html{
        font-size: 11px;
    }
}

@media (max-width: 640px){
    html{
        font-size: 10px;
    }
}

@media (max-width: 480px){
    html{
        font-size: 9px;
        
        body{
            .header{
            
                .menu__header {
                    display: none;
                }
        
                .menu__mobile {
                    display: block;
                }
            } 
        }
    }
}

@media (max-width: 320px){
    html{
        font-size: 8px;
    }
}